.root {
    -fx-background-color : rgb(110, 204, 168); 
    -fx-font-size : 12 pt; 
}
.label {
    -fx-text-fill : black; 
}
.button {
    -fx-background-color : white; 
    -fx-border-radius : 20; 
    -fx-padding : 5;
}